---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Kevin Ivan</h1>
			<p class="hero__text">
				¡Hola! Soy Ingeniero en Sistemas Computacionales, Apasionado por la Innovación y el Desarrollo de Aplicaciones Móviles
			</p>
			<Boton href="#" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/img/kevin.jpg"
		alt="kevin"
		width="384"
    	height="384"
	/>
	</div>
</section>
