---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			A lo largo de mi carrera, he trabajado con diversas tecnologías, entre las que destacan Flutter, Astro, React Native, Java, Python, Node.js, Next.js y JavaScript. Mi enfoque está en combinar creatividad e innovación para desarrollar productos que no solo cumplan con los requisitos, sino que también ofrezcan una experiencia de usuario superior.
		</p>
	</div>
</section>
